* {
    background-color: black;
    font-family: 'DM Sans', sans-serif;
    color: white;
}

.Name {
    color: #22AFFF;
    font-size: 50px;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
}

h2 {
    color: #22AFFF;
    text-align: left;
}

.three {
    color: blue;
}

.logo {
    height: 200px;
    width: 270px; 
    margin-top: 50px; 
}

.Home {
    color: #22AFFF;
    font-size: 25px;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    margin-left: 46.5%;
    margin-right: 50%;
}
