h1 {
    color: #22AFFF;
    font-family: 'Cinzel', serif;
    font-size: 100px;
    text-align: center; 
    background-color: transparent; 
    font-size: 4em;
}

h2 {
    color: #22AFFF;
    font-family: 'Cinzel', serif;
    font-size: 110px;
    text-align: center; 
    background-color: transparent;  
}

.headshot {
    height: 400px;
    width: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.logo {
    height: 200px;
    width: 270px; 
    margin-top: 50px; 
}

.AboutMePara {
    color: white;
    font-size: xx-large;
    font-family: 'DM Sans', sans-serif;
}

.Intro {
    color: #22AFFF;
    font-size: 30px;
    text-align: left;
    font-family: 'DM Sans', sans-serif;
    background-color: black;
}

.contact {
    color: #22AFFF;
    text-align: center;
    font-size: 25px;
    margin-left: 0%;
    margin-right: 8%;
    font-family: 'DM Sans', sans-serif;   
}

.Resume {
    color: #22AFFF;
    font-size: 25px;
    margin-left: 1%;
    margin-right: 10%;
    font-family: 'DM Sans', sans-serif;
}

.Aboutt {
    color: #22AFFF;
    font-size: 25px;
    margin-left: 0%;
    margin-right: 6%;
    font-family: 'DM Sans', sans-serif;
} 

.Projects {
    color: #22AFFF;
    text-align: center;
    font-size: 25px;
    margin-left: 2%;
    margin-right: 20%;
    font-family: 'DM Sans', sans-serif; 
}